<div class="container-fluid text-center">
    <h1 class="text-center">Welcome To The Recipe-Book App!</h1>
    <hr>
    <div class="col-md-4"><img style="max-width:100%;height:auto;" src="https://image.ibb.co/hm1xsJ/Untitled_1.png" alt="food"><br><hr style="border: none;"><span>Perfectly portioned recipes!</span></div>
    <div class="col-md-4 col-md-offset-4"><img style="max-width:100%;height:auto;" src="https://image.ibb.co/grEvey/Untitled_2.png" alt="food"><br><span>Awesome shopping cart app inside to manage your shopping needs!</span></div>
    <div class="col-md-4 col-md-offset-4"><img style="max-width:100%;height:auto;" src="https://image.ibb.co/iW2sRd/Untitled_3.png" alt="food"><br><span>Register to the Recipe-Book to edit and add your own recipes!</span></div>
</div>